.container-my {
    background-color: #ffffff;
    width: 30%;
    height: 40%;
    padding-bottom: 150px;
    padding-top: 15px;
    border-radius: 8px;
    position: absolute;
    left: 35%;
    font-size: 20px;
    border-color: white;
    top:30%;
    justify-content: center;
    z-index: 1;
}
