/*.footer {*/
/*    display: flex ;*/
/*    justify-content: center;*/
/*    background-color: #363b3f;*/
/*    padding-bottom: 0;*/
/*    clear: bottom;*/
/*    width: 100%;*/
/*}*/

.footer {

    padding-top: 29px;
    background-color: #363b3f;
    position: absolute;
    margin-top: auto;
    display: block;
    width: 100%;
    height: 200px;



}
* {
    margin: 0;
    padding: 0;
}

.box{
    margin-left: 10%;
}

.logo1 {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    width: 205px;
    /*height: 51px;*/
}
.logo2 {
    display: block;
    text-decoration: none;
    width: 100px;
    float: left;
    margin-right: 10px;
    /*height: 51px;*/
}

.list{
    list-style-type: none;
    float: left;
    color: white;
}
